.artimus-container {
    display: grid;
    grid-template-columns: 200px 1fr;

    width: 100%;
    height: 100%;

    background-color: #d0d0ff;
}

.artimus-toolbar {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 200px;

    background-color: #e2e2ff;
}

.artimus-canvasArea {
    overflow: hidden;
}

.artimus-canvas {
    background-size: 8px 8px;
    background-color: #bbbbffff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAA5JREFUCJljYICAaDgBAAVnALfcXD16AAAAAElFTkSuQmCC);
    image-rendering: pixelated;

    transform: scale(var(--zoom)) translate(var(--scrollX), var(--scrollY));
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0%;
}

.artimus-toolbox {
    margin: 8px;
    padding: 4px;

    border-radius: 16px;
    background-color: #d0d0ff;
}

.artimus-toolPropertyHolder {
    margin: 8px;
    padding: 4px;

    border-radius: 16px;
    background-color: #d0d0ff;
}

.artimus-tool {
    display: flex;
    width: 100%;

    justify-content: left;
    align-items: center;

    background-color: #e2e2ff;
    border-width: 0px;
    border-radius: 16px;

    transition: 300ms background-color;

    margin-bottom: 4px;
}

.artimus-tool:hover {
    background-color: #c2c2ff;
}

.artimus-tool:active {
    transition: 0ms background-color;
    background-color: #6a6aff;
}

.artimus-tool-selected {
    background-color: #aaaaff;
}

.artimus-toolIcon {
    width: 32px;
    height: 32px;

    margin-right: 16px;
}

.artimus-toolLabel {
    margin: 0px;
    text-align: center;
}

.artimus-toolbar .CUGI-PropertyHolder {
    display : flex;
    margin: 2px;
    padding: 0px;

    font-family: monospace;
    font-weight: bold;
}

input[type="number"] {
    width: 48px;
}