.artimus-container {
    display: grid;
    grid-template-columns: 200px 1fr;

    width: 100%;
    height: 100%;

    background-color: #d0d0ff;
}

.artimus-toolbar {
    width: 200px;

    background-color: #e2e2ff;
}

.artimus-canvasArea {
    overflow: hidden;
}

.artimus-canvas {
    background-size: 8px 8px;
    background-color: #bbbbffff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAA5JREFUCJljYICAaDgBAAVnALfcXD16AAAAAElFTkSuQmCC);
    image-rendering: pixelated;

    transform: scale(var(--zoom)) translate(var(--scrollX), var(--scrollY));
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0%;
}

.artimus-toolbar .CUGI-PropertyHolder {
    display : flex;
    margin: 2px;
    padding: 0px;

    font-family: monospace;
    font-weight: bold;
}