body {
    --artimus-eraser-outline: #438eff;
    --artimus-eraser-inline: #d0d0ff;
}

.artimus-container {
    display: grid;
    grid-template-columns: 200px 1fr;

    width: 100%;
    height: 100%;

    background-color: #d0d0ff;
}

.artimus-toolbar {
    display: grid;
    grid-template-rows: 33.3333% 33.3333% 33.3333%;
    width: 200px;

    background-color: #e2e2ff;
}

.artimus-canvasArea {
    overflow: hidden;
}

.artimus-canvas {
    background-size: 8px 8px;
    background-color: #bbbbffff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAA5JREFUCJljYICAaDgBAAVnALfcXD16AAAAAElFTkSuQmCC);
    image-rendering: pixelated;

    transform: scale(var(--zoom)) translate(var(--scrollX), var(--scrollY));
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0%;
}

.artimus-sideBarList {
    margin: 8px;
    padding: 4px;

    border-radius: 16px;
    background-color: #d0d0ff;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.artimus-layerHolder {
    flex-direction: column-reverse;
}

.artimus-layerWrapper {
    display: flex;
}

.artimus-layerCreationHolder {
    height: 24px;
    display: grid;
    max-width: 100%;
    grid-template-columns: calc(100% - 24px) 24px;
}

.artimus-button {
    background-color: #e2e2ff;
    transition: 300ms background-color;
}

.artimus-button:hover {
    background-color: #c2c2ff;
}

.artimus-button:active {
    background-color: #438eff;
    transition: 0ms background-color;
}

.artimus-layerCreationButton {
    border-radius: 8px;
    border-width: 0px;
}

.artimus-layerCreationName {
    width: calc(100% - 12px);
}

.artimus-layerButton {
    width: auto;
    aspect-ratio: 1;
    height: 24px;

    border-radius: 16px;
    border-width: 0px;
}

.artimus-sideBarButton {
    display: flex;
    width: 100%;

    justify-content: left;
    align-items: center;

    border-width: 0px;
    border-radius: 16px;

    margin-bottom: 4px;
}

.artimus-sideBarButton-selected {
    background-color: #aaaaff;
}

.artimus-toolIcon {
    width: 32px;
    height: 32px;

    margin-right: 16px;
}

.artimus-toolLabel {
    margin: 0px;
    text-align: center;
}

.artimus-layer {
    margin: 0px;
}

.artimus-toolbar .CUGI-PropertyHolder {
    display: flex;
    margin: 2px;
    padding: 0px;

    font-family: monospace;
    font-weight: bold;
}

input[type="number"] {
    width: 48px;
}