body {
    --modal-interaction: all;
    --modal-opacity: 100%;
}

.main-grid {
    display: grid;
    grid-template-rows: 24px 1fr;

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;
}

.top-bar {
    background-color: var(--artimus-background-2);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--artimus-background-1);

    display: flex;

    padding-left: 8px;
    padding-right: 8px;
}

.top-bar > p {
    margin: 0px;
}

cugi-dropdown {
    text-align: center;
    user-select: none;

    background-color: var(--artimus-button-normal);
    transition: 300ms background-color;
}

cugi-dropdown:hover {
    background-color: var(--artimus-button-hover);
}

cugi-dropdown:active {
    background-color: var(--artimus-button-click);
    transition: 0ms background-color;
}

.modal-background {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    background-color: #00000055;

    pointer-events: var(--modal-interaction);
    opacity: var(--modal-opacity);

    transition: 250ms opacity;
}

.welcome-screen {
    position: absolute; 
    
    width: 400px;
    padding: 16px;
    
    top: 50%; 
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--artimus-background-1);
    border-radius: 16px;

    text-align: center;
    font-family: monospace;
}

.welcome-screen .CUGI-PropertyHolder {
    display: flex;
}

.welcome-screen > h1 {
    margin: 0px;
}

.CUGI-Button {
    background-color: var(--artimus-button-normal);
    color: var(--artimus-text);
    transition: 300ms background-color;

    border-width: 2px;
    border-style: solid;
    border-color: var(--artimus-button-hover);
    border-radius: 16px;
}

.CUGI-Button:hover {
    background-color: var(--artimus-button-hover);
}

.CUGI-Button:active {
    background-color: var(--artimus-button-click);
    transition: 0ms background-color;
}
